body {
    background-color: white;
}
.avatar-profile {
    position: relative;
    left: 295px;
    margin-top: 12px;
    border: 1px solid #b6dcf3;
    width: 60px;
    height: 60px;
    background-color: #b6dcf3;
}