<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-color">
    <ion-title>
    Librerías
    </ion-title>
    <ion-avatar [routerLink]="'/perfil-bibliofilo'" class="avatar-profile">
      <img src="../../../assets/profile-w.png">
      <!-- <img src="../../../assets/profile-m.png"> -->
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <img src="../../../assets/eventoa.jpg">
      <ion-card-header color="light" style="height: 45px;">
        <ion-card-title style="color: rgb(61, 61, 240);text-align: center; font-size: 17px; height: 45px; margin-top: -24px;"><h4>Nombre libreria</h4></ion-card-title>
      </ion-card-header>
      <ion-card-content style="margin-top: 12px;">
        <b>Descripción: </b><br>
        <b>Dirección: </b><br>
        <b>Ciudad: </b>
      </ion-card-content>
      <ion-item color="light">
        <ion-button  fill="outline" slot="end" expand="block" [mode]="'md'">Web</ion-button>
        <ion-button fill="outline" slot="end" expand="block" [mode]="'md'" color="dark">Info</ion-button>
        <ion-button><ion-icon name="call-outline"></ion-icon></ion-button>
        <ion-button (click)="geolocalizacion()" expand="block" fill="clear" shape="round">
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="compartir()" expand="block" fill="clear" shape="round">
          <ion-icon name="share-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card> <!-- el metodo esta icompleto -  ver QRBar -->
  </div>

  <ion-infinite-scroll threshold="200px">
  <ion-infinite-scroll-content
    loadingSpinner="circular"
    loadingText="Cargando eventos...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

