<body class="background">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1 class="title-text">BookLife</h1>
			</div>
			<div class="login-form">
        <ion-button class="button-login" [routerLink]="'/login'" style="margin-top: 10px;" expand="block" color="secondary">Login</ion-button>
        <ion-button class="button-registro" [routerLink]="'/seleccion-registro'" style="margin-top: 10px;"expand="block" color="primary">Registro</ion-button>
			</div>
		</div>
	</div>
</body>