body {
    background-color: white;
}
.back-button {
    position: absolute;
    top: 0;
}
.avatar-content {
    bottom: 182px;
    position: relative;
    width: 100px;
    height: 100px;
    left: 141px;
}
.image-profile {
    border: 4px solid white;
    border-radius: 47px;
    background-color: #d1f1ff;
}
.ilustracion-perfil-bibliofilo {
    margin-top: 11px;
    width: 464px;
    position: relative;
    right: 44px; 
}
.b-pro {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-left-radius: none;
    border-top-right-radius: none;
   
}
.title-text {
    font-family: system-ui;
    margin-top: 27px;
    color: #1660e0;
}
.login {
    position: absolute;
    top: 144px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.profile-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #666;
    margin-left: auto;
    margin-right: auto;
    width: 314px;
    position: relative;
    bottom: 0;
    left: 33px;
}
.nombre-usuario, .contraseña, .email {
    font-weight: bold;
}
.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}
input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}
input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}
.apartado-ciudad {
    font-weight: bold;
}
.exit-button, .guardar-button {
    display: inline-block;
    position: relative;
    left: 11px;
    width: 110px;
    height: 39px;
    font-size: 15px;
    margin-top: 25px;
    bottom: 9px;
    --ion-color-success-tint: #42d77d;
}
.exit-button {
    --ion-color-success-tint: #42d77d;
}
