.content-form {
    margin-top: 39px;
    width: 347px;
    margin-left: 5px;
}
.ilustration-login {
    margin-top: 11px;
    width: 464px;
    position: relative;
    right: 44px;
}
.login-button {
    --ion-color-primary-shade: #3171e0;
    display: inline-block;
    margin-left: 120px;
}
.log-button {
    border-radius:60px 20px 20px;
    font-weight: bold;
    width: 111px;
}
.usuario, .contraseña {
    border: 1px solid #3171e0;
    border-radius: 30px;
    height: 43px;
    width: 291px;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.uss, .pass {
    font-size: 19px;
}

