<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-color">
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'" [mode]="'md'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<body class="global-content">
<form class="content-form">
    <ion-item class="libreria">
      <ion-icon class="book" name="book-outline"></ion-icon>
      <ion-input name="book" type="text" placeholder="*Nombre de tu librería" autofocus required></ion-input>
    </ion-item> 
    <ion-item class="ciudad">
      <ion-icon class="city" name="business-outline"></ion-icon>
        <ion-label name="city" required>*Ciudad</ion-label>
        <ion-select  interface="popover">
          <ion-select-option value="almeria">Almería</ion-select-option>
          <ion-select-option value="cadiz">Cádiz</ion-select-option>
          <ion-select-option value="cordoba">Córdoba</ion-select-option>
          <ion-select-option value="granada">Granada</ion-select-option>
          <ion-select-option value="huelva">Huelva</ion-select-option>
          <ion-select-option value="jaen">Jaén</ion-select-option>
          <ion-select-option value="malaga">Málaga</ion-select-option>
          <ion-select-option value="sevilla">Sevilla</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-item class="direccion">
      <ion-icon class="location" name="location-outline"></ion-icon>
      <ion-input  name="location" type="text" placeholder="*Dirección" required></ion-input>
    </ion-item>
    <ion-item class="telefono">
      <ion-icon class="phone" name="call-outline"></ion-icon>
      <ion-input [(ngModel)]="email" name="phone" type="number" placeholder="*Teléfono" required></ion-input>
    </ion-item>
    <ion-item class="pagina-web">
      <ion-icon class="web" name="glasses-outline"></ion-icon>
      <ion-input [(ngModel)]="email" name="web" type="text" placeholder="Web"></ion-input>
    </ion-item>
    <ion-item class="email">
      <ion-icon class="mail" name="mail-outline"></ion-icon>
      <ion-input [(ngModel)]="email" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" name="email" type="mail" placeholder="*Email" required></ion-input>
    </ion-item>
    <ion-item class="contraseña">
      <ion-icon class="lock" name="lock-closed-outline"></ion-icon>
      <ion-input [(ngModel)]="pwd" name="contraseña" type="password" placeholder="*Contraseña" required></ion-input>
    </ion-item>
    <div class="register-button">
      <ion-button class="registro-button" (click)="registro()" disabled="{{!this.usuario || !this.pwd || !this.email}}" expand="block"  color="primary">Registrar</ion-button>
    </div>
  </form>
  <div class="ilustration-registro">
    <img src="../../../assets/registro-libreria.png">
  </div>
</body>
